.second-page-hero {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter-list {
  display: flex;
  margin-bottom: 70px;
  margin-top: calc(-1 * 15px);
  margin-left: calc(-1 * 8px);
  padding: 0px;
  flex-wrap: wrap;
  &__item {
    margin-top: 15px;
    margin-right: 8px;
  }

  @media (min-width: 768px) {
    margin-bottom: 30px;

    margin-right: auto;
    margin-left: auto;

    justify-content: center;
  }
  @media (min-width: 1200px) {
    margin-bottom: 50px;
  }
}
