
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  background-color: var(--secondary-font-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}


.modal-title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--main-font-color);
}
.modal__icon {
  width: 11px;
  height: 11px;
}
.modal-form {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
&__link {
  color: var(--accent-color-link);
}
&__label {
  color: var(--main-font-color);
  margin-top: 10px;
  margin-bottom: 4px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--description-font-color);
}
&__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color var(--main-animation);
  cursor: pointer;
&:focus {
  outline: none;
  border-color: var(--accent-color-link);
}
&:focus + .modal-form__icon{
  fill: var(--accent-color-link);
}
}
&__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  transition: fill var(--main-animation);
}
&__msg {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: none;
  padding: 12px 16px;
  transition: border-color var(--main-animation);
  cursor: pointer;
&:focus {
  outline: none;
  border-color: var(--accent-color-link);
}
&::placeholder {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
}
&__wrapper {
  position: relative;
  display: block;
}
&__check {
  display: flex;
  align-items: center;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--description-font-color);
  margin-top: 20px;
  margin-bottom: 30px;
&::before {
  display: block;
  content: "";
  width: 16px;
  height: 16px;
  border: 2px solid var(--main-font-color);
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
  .modal-form__term:checked + & {
  background-image: url(../images/icon-check.svg);
  background-position: center;
  border: none;
  background-size: cover;
}
.modal-form__term:focus + & {
  box-shadow: 0 0 0 2px var(--accent-color-link);
}
}
}
}







