.portfolio {
  padding-top: 47px;
  text-align: center;
  padding-bottom: 149px;
}
.overlay-wrapper {
  position: relative;
  width: 100%;
  left: 0;
  bottom: 0;
}
.portfolio-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
&__item {
  position: relative;
  height: 294px;
  width: 370px;
  flex-basis: calc(100% / 3 - 30px);
}
&__overlay {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  right: 0;
  height: 70px;
  width: 370px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-font-color);
  background-color: rgba(47, 48, 58, 0.8);
}
& > &__item {
  margin-left: 30px;
}
}


