.contact-list {
  display: flex;
  align-items: center;
  margin-left: auto;
  &__item:not(:last-child) {
    margin-right: 50px;
  }
  &__link {
    display: flex;
    align-items: center;
    font-family: var(--main-font);
    color: var(--description-font-color);
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color var(--main-animation);
    padding-top: 32px;
    padding-bottom: 32px;
    &:hover,
    &:focus {
      color: var(--accent-color-link);
      fill: var(--accent-color-link);
      animation-name: headShake;
      animation-duration: 1000ms;
      animation-timing-function: linear;
    }
  }
}

.mail-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.smartphone-icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}
