.menu {
  display: flex;
  align-items: center;
  &__item {
    position: relative;
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}
.menu__link {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-font-color);
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color var(--main-animation);
  &:hover,
  &:focus {
    color: var(--accent-color-link);
    transform: scaleX(1);
    opacity: 1;
  }
  &::after {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: var(--accent-color-link);
    opacity: 0;
    transform: scaleX(0);
    transition: opacity var(--main-animation), transform var(--main-animation);
  }
  &:hover::after,
  &:focus::after {
    transform: scaleX(1);
    opacity: 1;
  }
}

.active {
  color: var(--accent-color-link);
  &::after {
    transform: scaleX(1);
    opacity: 1;
  }
}
