.modal-btn {
  padding: 10px 32px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background: var(--accent-color-link);
  cursor: pointer;
  color: var(--secondary-font-color);
  margin-top: 40px;
  border-radius: 4px;
  border: 0;
  box-shadow: var(--btn-shadow);
  transition: background-color var(--main-animation);
&:hover,
&:focus {
  background-color: var(--btn-hover-bg-color);
}
}
